doctype html
html(lang="en", ng-app="app")
  head
    title Todos!
    meta(charset="utf-8")
    link(rel="stylesheet", href="css/style.css", type="text/css")
  body
    section.todos(ng-controller="TodosCtrl as todos")
      h1 My Cool Todos
      h3 Sort By
      ul.sorting
        each prop, title in {'added':'$$hashKey','title':'title','status':'done'}
          li(
            ng-click="todos.sortBy('"+prop+"')",
            ng-class="{selected:todos.sort.option==='"+prop+"', reverse:todos.sort.reverse}"
            )= title
      form#new-task(ng-submit="todos.addItem()")
        input#new-task-input(placeholder="What needs to be done?", ng-model="todos.newTodo", autofocus)
        input#new-task-submit(type="submit", value="Add Task", ng-class="{ready:!!todos.newTodo}")
      ul.items(ng-model="todos.items")
        li.item(
          ng-repeat="item in todos.items | orderBy : todos.sort.option : todos.sort.reverse",
          ng-class="{done:item.done}", ng-cloak
        ) 
          a.check(ng-click="todos.toggleItemStatus(item)") ✓
          input.title(ng-model="item.title")
          a.close(ng-click="todos.removeItem(item)") ×
      button(ng-click="todos.clearCompleted()") Clear completed tasks
  script(src="js/bundle.js")
  <script type="text/javascript" src="//use.typekit.net/wlp8ffk.js"></script>
  <script type="text/javascript">try{Typekit.load();}catch(e){}</script>