doctype html
html(lang="en", ng-app="app")
  head
    title Todos!
    meta(charset="utf-8")
    link(rel="stylesheet", href="css/style.css", type="text/css")
  body
    div(ng-controller="TodosCtrl as todos")
      ul Sort
        li(ng-click="todos.sortBy = 'title'") Title
        li(ng-click="todos.sortBy = 'done'") Status
      form(ng-submit="todos.addItem()")
        input(placeholder="What needs to be done?", ng-model="todos.newTodo")
      ul.items(ng-model="todos.items")
        li.item(ng-repeat="item in todos.items | orderBy:todos.sortBy:todos.reverse", ng-class="{done:item.done}") 
          a(ng-click="todos.toggleItemStatus(item)") ✓
          span {{item.title}}
          a(ng-click="todos.removeItem(item)") ×
  script(src="js/bundle.js")